{% extends "layout.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block titulo %}Listado de usuarios{% endblock %}

{% block mainContent %}

    <section class="section">
        <div class="container">
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div>
                            <p class="title">
                                Servidor Panaland
                            </p>
                            <p class="subtitle">
                                Solo para los panas
                            </p>
                        </div>
                    </div>
                </div>

                <div class="level-right">
                    <div class="card level-item">
                        <div class="card-content">
                            <div class="content has-text-centered mb-3">
                                El servidor está <strong id="portada-server-online"></strong> en la versión <strong
                                        id="portada-server-version">X.X</strong> <br>
                                Actualmente hay <strong id="portada-server-numplayers">0</strong> jugadores conectados.
                            </div>
                            <div class="content">
                                <nav id="portada-server-images" class="level">

                                </nav>

                            </div>
                        </div>
                    </div>

                </div>

            </nav>

        </div>
    </section>

    <!-- TABLE -->
    <section id="brute-stats" class="section ">
        <div class="container">
            <div class="container">
                <h2 class="title is-large has-text-centered	mb-6">Estadísticas en Bruto</h2>
            </div>
            <div class="table-responsive table-container">
                <table class="table my-bg-color my-text-color mx-auto">

                    <colgroup>
                        <col span="2" style="border-right: 1px solid;">
                        <col span="2">
                        <col>
                        <col span="2">
                        <col span="3">
                        <col>
                        <col>
                        <col style="border-left: 1px solid;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Usuario</th>
                            <th><abbr title="Muertes">M</abbr></th>
                            <th><abbr title="Kills">K</abbr></th>
                            <th><abbr title="Tiempo jugado (Segundos)">Playtime </abbr></th>
                            <th><abbr title="Bloques rotos">B. Rotos</abbr></th>
                            <th><abbr title="Bloques puestos">B. Puestos</abbr></th>
                            <th><abbr title="Items crafteados">I. Craft</abbr></th>
                            <th><abbr title="Items droppeados">I. Dropped</abbr></th>
                            <th><abbr title="Items recogidos">I. Recogidos</abbr></th>
                            <th><abbr title="Herramientas rotas">Tools Rotas</abbr></th>
                            <th><abbr title="Comida consumida">Comida cons.</abbr></th>
                            <th>Última Conexión</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% set maxDeaths = 0 %}
                    {% set maxKill = 0 %}
                    {% set maxPlaytime = 0 %}
                    {% set maxBreak = 0 %}
                    {% set maxPlace = 0 %}
                    {% set maxCrafted = 0 %}
                    {% set maxDropped = 0 %}
                    {% set maxPickedUp = 0 %}
                    {% set maxBroken = 0 %}
                    {% set maxFood = 0 %}

                    {% set totalDeaths = 0 %}
                    {% set totalKill = 0 %}
                    {% set totalPlaytime = 0 %}
                    {% set totalBreak = 0 %}
                    {% set totalPlace = 0 %}
                    {% set totalCrafted = 0 %}
                    {% set totalDropped = 0 %}
                    {% set totalPickedUp = 0 %}
                    {% set totalBroken = 0 %}
                    {% set totalFood = 0 %}

                    {% for p in players %}
                        {% set maxDeaths = max(p.death, maxDeaths) %}
                        {% set maxKill = max(p.kill, maxKill) %}
                        {% set maxPlaytime = max(p.playtime, maxPlaytime) %}
                        {% set maxBreak = max(p.block_break, maxBreak) %}
                        {% set maxPlace = max(p.block_place, maxPlace) %}
                        {% set maxCrafted = max(p.items_crafted, maxCrafted) %}
                        {% set maxDropped = max(p.items_dropped, maxDropped) %}
                        {% set maxPickedUp = max(p.items_picked_up, maxPickedUp) %}
                        {% set maxBroken = max(p.tools_broken, maxBroken) %}
                        {% set maxFood = max(p.food_consumed, maxFood) %}

                        {% set totalDeaths = p.death + totalDeaths %}
                        {% set totalKill = p.kill +  totalKill %}
                        {% set totalPlaytime = p.playtime + totalPlaytime %}
                        {% set totalBreak = p.block_break + totalBreak %}
                        {% set totalPlace = p.block_place + totalPlace %}
                        {% set totalCrafted = p.items_crafted + totalCrafted %}
                        {% set totalDropped = p.items_dropped + totalDropped %}
                        {% set totalPickedUp = p.items_picked_up + totalPickedUp %}
                        {% set totalBroken = p.tools_broken + totalBroken %}
                        {% set totalFood = p.food_consumed + totalFood %}
                    {% endfor %}
                    {% for p in players %}

                        <tr>
                            <td>
                                <a href="?pag=perfil&user={{ p.username }}"><img data-toggle="tooltip"
                                                                                 data-placement="top" title=""
                                                                                 style="width:40px"
                                                                                 src="https://crafatar.com/renders/head/{{ p.uuid }}?size=150&amp;overlay&amp;default=MHF_Steve"
                                                                                 data-original-title="{{ p.username }}"></a>
                            </td>
                            <td><a href="?pag=perfil&user={{ p.username }}">{{ p.username }}</a></td>
                            <td>{{ p.death ?? 0 }} {% if p.death == maxDeaths %}★{% endif %}</td>
                            <td>{{ p.kill ?? 0 }} {% if p.kill == maxKill %}★{% endif %}</td>
                            <td>{{ p.playtime|secondsToTime }} {% if p.playtime == maxPlaytime %}★{% endif %}</td>
                            <td>{{ p.block_break ?? 0 }} {% if p.block_break == maxBreak %}★{% endif %}</td>
                            <td>{{ p.block_place ?? 0 }} {% if p.block_place == maxPlace %}★{% endif %}</td>
                            <td>{{ p.items_crafted ?? 0 }} {% if p.items_crafted == maxCrafted %}★{% endif %}</td>
                            <td>{{ p.items_dropped ?? 0 }} {% if p.items_dropped == maxDropped %}★{% endif %}</td>
                            <td>{{ p.items_picked_up ?? 0 }} {% if p.items_picked_up == maxPickedUp %}★{% endif %}</td>
                            <td>{{ p.tools_broken ?? 0 }} {% if p.tools_broken == maxBroken %}★{% endif %}</td>
                            <td>{{ p.food_consumed ?? 0 }} {% if p.food_consumed == maxFood %}★{% endif %}</td>
                            <td>{{ p.last_quit | format_datetime(pattern="dd/MM 'a las' HH:mm") }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td><b>Máximo</b></td>
                            <td>{{ maxDeaths }}</td>
                            <td>{{ maxKill }}</td>
                            <td>{{ maxPlaytime|secondsToTime }}</td>
                            <td>{{ maxBreak }}</td>
                            <td>{{ maxPlace }}</td>
                            <td>{{ maxCrafted }}</td>
                            <td>{{ maxDropped }}</td>
                            <td>{{ maxPickedUp }}</td>
                            <td>{{ maxBroken }}</td>
                            <td>{{ maxFood }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Total</b></td>
                            <td>{{ totalDeaths }}</td>
                            <td>{{ totalKill }}</td>
                            <td>{{ totalPlaytime|secondsToTime }}</td>
                            <td>{{ totalBreak }}</td>
                            <td>{{ totalPlace }}</td>
                            <td>{{ totalCrafted }}</td>
                            <td>{{ totalDropped }}</td>
                            <td>{{ totalPickedUp }}</td>
                            <td>{{ totalBroken }}</td>
                            <td>{{ totalFood }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
    <!-- /TABLE -->

    <div class="container is-fullhd">
        <div class="is-divider " style="opacity: 0.3"></div>
    </div>


    <!-- GRAPHS -->
    <section class="section" id="grid-graphs">
        <div class="container">

            <!-- COLUMNS GRID -->
            <div class="container">
                <h2 class="title is-large has-text-centered	mb-6">Gráficas</h2>
            </div>


            <div class="columns is-multiline">

                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="has-text-centered is-size-4 mb-2">Tiempo Jugado</p>
                                <p id="total-time" class="has-text-centered is-size-6"></p>
                                <canvas id="tiempoJugado" width="400" height="400"></canvas>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-three-fifths">
                    <div class="card">
                        <div class="card-content">
                            <div class="content" style="height: 400px;width: available">
                                <div style="width:100%;height:10%;">
                                    <p class="has-text-centered is-size-4 mb-2">Histórico Construcción</p>
                                    <p id="total-time" class="has-text-centered is-size-6"></p>
                                </div>

                                <div style="width:100%;height:90%;">
                                    <canvas id="evBloquesRotos" style="width:100%;height:100%;"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="has-text-centered is-size-4 mb-2">Muertes por Jugador</p>

                                <canvas id="muertesPorJugador" width="200" height="200"></canvas>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-three-fifths">
                    <div class="card">
                        <div class="card-content">
                            <div class="content" style="height: 400px;width: available">
                                <div style="width:100%;height:10%;">
                                    <p class="has-text-centered is-size-4 mb-2">Evolución tiempo jugado</p>
                                    <p id="total-time" class="has-text-centered is-size-6"></p>
                                </div>

                                <div style="width:100%;height:90%;">
                                    <canvas id="evTiempoJugado" style="width:100%;height:100%;"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /COLUMNS GRID -->
        </div>
    </section>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"
            integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/patternomaly@1.3.2/dist/patternomaly.min.js"></script>
    <!-- /JS -->

    <script src="js/functions.js"></script>
    <script>

        displayServerInfo();

        const parsedDailyJSON = JSON.parse('{{ dailyStats | json_encode | e('js') }}');

        const parsedJSON = JSON.parse('{{ players|json_encode|e('js') }}');

        const orderedDailyStats = orderDailyStats(parsedDailyJSON);

        const chart1 = document.getElementById('muertesPorJugador');

        const chart2 = document.getElementById('tiempoJugado');

        const chart3 = document.getElementById('evBloquesRotos');

        const chart4 = document.getElementById('evTiempoJugado');

        let muertesPorJugador = createKillsDeathsChart(chart1,killsDeathsChartData(parsedJSON),algorithmicColors,inverseColors);

        let tiempoJugado = createPlaytimeChart(chart2,playtimeChartData(parsedJSON,"{{ totalPlaytime|secondsToTime }}"),algorithmicColors,inverseColors);

        let evBloquesChart = createBrokenBlocksChart(chart3,brokenBlocksChartData(orderedDailyStats),algorithmicColors,colors);

        let evPlaytimeChart = createPlayedTimeEvolutionChart(chart4,playedTimeEvolutionChartData(parsedDailyJSON),algorithmicColors[1],colors[6]);
    </script>
{% endblock %}
